# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.vsconfig
Packages/manifest.json
Packages/packages-lock.json
Logs/
Assets/Plugins/Zenject/
Assets/Plugins/Zenject.meta
UserSettings/
Assets/Plugins/
Assets/Packages/
Assets/packages.config
Assets/packages.config.meta
Assets/NuGet.config.meta
Assets/NuGet.config
Assets/Packages.meta
Assets/Prefabs/Resources/Levels/Level11.prefab
Assets/Prefabs/Resources/Levels/Level11.prefab.meta
Assets/Prefabs/Resources/Levels/Level12.prefab
Assets/Prefabs/Resources/Levels/Level12.prefab.meta
Assets/Prefabs/Resources/Levels/Level13.prefab
Assets/Prefabs/Resources/Levels/Level13.prefab.meta
Assets/Prefabs/Resources/Levels/Level14.prefab
Assets/Prefabs/Resources/Levels/Level14.prefab.meta
Assets/Prefabs/Resources/Levels/Level15.prefab
Assets/Prefabs/Resources/Levels/Level15.prefab.meta
Assets/Prefabs/Resources/Levels/Level16.prefab
Assets/Prefabs/Resources/Levels/Level16.prefab.meta
Assets/Prefabs/Resources/Levels/Level17.prefab
Assets/Prefabs/Resources/Levels/Level17.prefab.meta
Assets/Prefabs/Resources/Levels/Level18.prefab
Assets/Prefabs/Resources/Levels/Level18.prefab.meta
Assets/Prefabs/Resources/Levels/Level19.prefab
Assets/Prefabs/Resources/Levels/Level19.prefab.meta
Assets/Prefabs/Resources/Levels/Level20.prefab
Assets/Prefabs/Resources/Levels/Level20.prefab.meta
Assets/Prefabs/Resources/Levels/Level21.prefab
Assets/Prefabs/Resources/Levels/Level21.prefab.meta
Assets/Prefabs/Resources/Levels/Level22.prefab
Assets/Prefabs/Resources/Levels/Level22.prefab.meta
Assets/Prefabs/Resources/Levels/Level23.prefab
Assets/Prefabs/Resources/Levels/Level23.prefab.meta
Assets/Prefabs/Resources/Levels/Level24.prefab
Assets/Prefabs/Resources/Levels/Level24.prefab.meta
Assets/Prefabs/Resources/Levels/Level25.prefab
Assets/Prefabs/Resources/Levels/Level25.prefab.meta
LostJellyProjectFMOD/.cache/
fmod_editor.log
Assets/Plugins/FMOD/**/*.bundle text eol=lf
Assets/Plugins/FMOD/**/Info.plist text eol=lf