# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.vsconfig
Packages/manifest.json
Packages/packages-lock.json
Logs/
Assets/Plugins/Zenject/
Assets/Plugins/Zenject.meta
UserSettings/
Assets/Plugins/
Assets/Packages/
Assets/packages.config
Assets/packages.config.meta
Assets/NuGet.config.meta
Assets/NuGet.config
Assets/Packages.meta
